doctype html
html
    head
        meta(charset="utf-8")
        title 视频浓缩程序Demo
        base(href="/")
        meta(name="description" content="this is demo for video concentrate usinng docker")
        meta(name="keyword" content="docker video concentrate")
        meta(name="viewport" content="width=device-width")
        
        //- bower:css
        link(rel='stylesheet', href='../bower_components/font-awesome/css/font-awesome.css')
        link(rel='stylesheet', href='../bower_components/Jcrop/css/Jcrop.css')
        //- endbower
        //- inject:css
        link(rel="stylesheet", href="/public/css/index.css")
        //- endinject
        
        
        //- bower:js
        script(src='../bower_components/jquery/dist/jquery.js')
        script(src='../bower_components/Jcrop/js/Jcrop.js')
        //- endbower
    body
        .row
            .col-xs-12
                .container
        //- inject:js
        //- endinject
