nav.navbar.navbar-primary
    div.container-fluid
        .navbar-header
            ul.nav.navbar-nav
                li.active
                    a(href="#") 首页
                        span
                            i.fa.fa-home
                li
                    a(href="#") 视频浓缩
                        span
                            i.fa.fa-video-camera
                        
